# Este archivo es un ejemplo. Renombra a .env y añade tus claves API
# para los exchanges que las requieran.
# Por ejemplo:
# KRAKEN_API_KEY=tu_kraken_api_key
# KRAKEN_SECRET=tu_kraken_secret
# BYNODEX_API_KEY=tu_bynodex_api_key
# BYNODEX_SECRET=tu_bynodex_secret
