# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.temp.driveupload/

# React
public/build/
public/static/
public/media/
.env.local
.env.development.local
.env.production.local
.env.test.local

# Python
__pycache__/
*.egg-info/
*.spec
*.log
*.db
*.sqlite
local_settings.py
db.sqlite3
instance/
.mypy_cache/
.eggs/
.egg-info/
dist/
build/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.egg
.pytest_cache/
migrations/
.tmp.driveupload/
.tmp.drivedownload/

V3/data/
V3/log/
.log