.sidebar {
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    box-sizing: border-box;
    width: 25vw; /* Ocupa un cuarto del ancho de la página */
    min-width: 250px; /* Ancho mínimo para evitar que sea demasiado pequeño */
}

.menuHeader {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    color: inherit; /* Heredar color del contenedor padre */
    cursor: pointer;
    padding: 10px 15px;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 6px;
    width: 100%;
    outline: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.menuHeader:hover {
    background-color: #333;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.menuTitleText {
    flex-grow: 1;
    font-weight: bold;
    text-align: left;
}

.arrowIndicator {
    margin-left: 5px;
}
